.bg-color-1 {
  background-color: #ff3700;
}

.bg-color-2 {
  background-color: #0a0a0a;
}

.bg-color-3 {
  background-color: #3ad314;
}

.bg-color-4 {
  background-color: #04fdfd;
}

.bg-color-5 {
  background-color: #fff200;
}
