.body-grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

.body-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 20px;
  justify-content: flex-start;
}

.card-around {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.margin-left-top-10 {
  margin-left: 10%;
  margin-top: 40px;
  width: 80%;
}
